/* استيراد خط Noto Sans Arabic */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans Arabic', sans-serif;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.dashboard-sidebar {
  width: 250px;
  background-color: #371252;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.dashboard-logo {
  width: 150px;
  margin-bottom: 20px;
}

.hamburger-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.dashboard-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 0; /* إضافة مسافة بين العناصر */
  text-align: center;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px; /* تصغير حجم الخط */
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logout-button {
  font-size: 20px; /* حجم أيقونة تسجيل الخروج */
}

.dashboard-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-right: 250px; /* إضافة مسافة للجانب الأيمن */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 220px; /* تعديل عرض البطاقات */
  height: 220px; /* تعديل ارتفاع البطاقات */
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0;
}

.card-content {
  font-size: 16px; /* حجم النص المناسب */
  color: #333;
  font-weight: bold; /* زيادة وزن الخط */
}
