.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(to right, #d1c4e9, #90caf9);
  position: relative;
}

.login-section {
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  direction: rtl;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 50px;
  height: 50px;
}

.form-group {
  margin-bottom: 15px;
  text-align: right;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-section input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-type-button {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-type-button img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.user-type-button.active {
  background: #d1c4e9;
  border-color: #673ab7;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #673ab7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background: #5e35b1;
}
